
<div class="container-fluid">
  <div class="row ">
    <div class="col col-lg-12 text-center bg-primary">
      <h1><span>Proyectos Personales </span></h1>
    </div>
    <div class="card mt-4" style="width:200px; margin-right: 8px; ">
      <img class="card-img-top" [src]="img1" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    <div class="card mt-4" style="width:200px; margin-right: 8px;">
      <img class="card-img-top" [src]="img1" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    <div class="card mt-4" style="width:200px; margin-right: 8px;">
      <img class="card-img-top" [src]="img1" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    <div class="card mt-4" style="width:200px; margin-right: 8px;">
      <img class="card-img-top" [src]="img1" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary ">See Profile</a>
      </div>
    </div>
    <div class="card mt-4" style="width:200px; margin-right: 8px;">
      <img class="card-img-top" [src]="img1" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary ">See Profile</a>
      </div>
    </div>
    <div class="card mt-4" style="width:200px; margin-right: 8px;">
      <img class="card-img-top" [src]="img1" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary ">See Profile</a>
      </div>
    </div>
    <div class="card mt-4" style="width:200px; margin-right: 8px;">
      <img class="card-img-top" [src]="img1" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary ">See Profile</a>
      </div>
    </div>
    <div class="card mt-4" style="width:200px; margin-right: 8px;">
      <img class="card-img-top" [src]="img1" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary ">See Profile</a>
      </div>
    </div>
 </div>
</div>




  <hr class="fixed-bottom" />

<nav
  style="background-color: transparent !important"
  class="
    navbar navbar-nav navbar-center navbar-expand-lg navbar-dark
    bg-dark
    fixed-bottom
  "
>
  <div class="container-fluid ">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div style="margin-left: 25%" class="navbar-nav">
        <a class="nav-link" routerLink="home">Home</a>
        <a class="nav-link" routerLink="/projects">Projects</a>
        <a class="nav-link" routerLink="/skills">Skills</a>
        <a class="nav-link" routerLink="/curses">Courses</a>
        <a class="nav-link" routerLink="/contact">Contact</a>
        <a class="nav-link" routerLink="/blog">Blog</a>
      </div>
    </div>
  </div>
</nav>







