
<body>

  <img [src]="img1" class="imgRedonda fixed-bottom" />
<div class="posicion fixed-bottom text-center">
  <img
    style="margin-right: 8px; cursor: pointer"
    [src]="img2"
    height="30"
    width="30"
  />
  <img
    style="margin-right: 8px; cursor: pointer"
    [src]="img3"
    height="30"
    width="30"
  />
  <img
    style="margin-right: 8px; cursor: pointer"
    [src]="img4"
    height="30"
    width="30"
  />
  <img
    style="margin-right: 8px; cursor: pointer"
    [src]="img5"
    height="30"
    width="30"
  />
  <img
    style="margin-right: 8px; cursor: pointer"
    [src]="img6"
    height="30"
    width="30"
  />
  <img
    style="margin-right: 8px; cursor: pointer"
    [src]="img7"
    height="30"
    width="30"
  />
</div>

<hr class="fixed-bottom" />

<nav
  style="background-color: transparent !important"
  class="
    navbar navbar-nav navbar-center navbar-expand-lg navbar-dark
    bg-dark
    fixed-bottom
  "
>
  <div class="container-fluid ">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div style="margin-left: 25%" class="navbar-nav">
        <a class="nav-link" routerLink="home">Home</a>
        <a class="nav-link" routerLink="/projects">Projects</a>
        <a class="nav-link" routerLink="/skills">Skills</a>
        <a class="nav-link" routerLink="/curses">Courses</a>
        <a class="nav-link" routerLink="/contact">Contact</a>
        <a class="nav-link" routerLink="/blog">Blog</a>
      </div>
    </div>
  </div>
</nav>

<div class="container text-center ">
  <div class="row">
    <p class="ingRomario ">ROMARIO.GV</p>
    <br /><br /><br />
    <P class="ingRomario2 "
      >I am a systems engineer Achieving Professional Development according to
      the requirements, providing excellent performance, reaching the objectives
      and goals that are imposed on me, through constant, efficient and
      effective work, until the completion of the projects, to the point of.
    </P>

    <p class="ingRomario2  mt-4">
      reaching fulfillment with the company and exceed my professional
      expectations. I want to establish myself and consolidate myself within a
      high-performance work team where I can grow and become a figure that
      imparts knowledge and improvements in the processes, suitable for the
      company, contributing all my knowledge.
    </p>



  </div>
</div>


</body>

